/* custom user profile styles  */

// overide of default boostrap table first child cell border
.profile-table > tbody > tr:first-child > td {
	border-top: 0;
  }

// accordion panel 
.panel-heading span {
  margin-top: -20px;
}

 